.Card {
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    width: 30%;
    display: inline-block;
    text-align: left;
}

.Card p {
    margin: 0;
}

.Card:hover {
    box-shadow: 5px 5px 10px #b8b8b8;
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

.TopItems {
    display: flex;
    justify-content: space-between;
}

.TopItem {
    display: inline;
}

.Code {
    color: #630000;
}

.Name {
    color: #8a8a8a;
}
